obj
EstoqueHub.sln
.vs
API/bin
API/obj
API/Properties
API/Controllers/CategoriaController.cs
API/Controllers/UsuarioController.cs
API/Controllers/GrupoController.cs
API/Controllers/HomeController.cs
API.csproj
API.csproj.user
API.http
appsettings.Development.json
appsettings.json
Application/bin
Application/Interfaces/ICategoriaRepository.cs
Application/Interfaces/IGrupoRepository.cs
Application/Interfaces/IProdutoRepository.cs
Application/Interfaces/IUsuarioRepository.cs
Services/Application.csproj
Domain/bin
Domain/obj
Domain/Entities/Categoria.cs
Domain/Entities/Grupo.cs
Domain/Entities/Produto.cs
Domain/Entities/Usuario.cs
Domain.csproj
Infra
Infra/bin
Infra/Data
Infra/Migrations
Infra/obj
Infra/Repositories/CategoriaRepository.cs
Infra/Repositories/GrupoRepository.cs
Infra/Repositories/ProdutoRepository.cs
Infra/Repositories/UsuarioRepository.cs
Infra.csproj